<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: main-head('Home Page')"></head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>
<h1>Create a Post</h1>

<div class="container">
	<div th:if="${post.id == 0}">
		<h1>Please Create a New Post!</h1>
		<form th:action="@{/posts/create}" th:method="post" th:object="${post}">

			<!--/*@thymesVar id="type" type="com.codeup.pressd.models.Type"*/-->
			<div class="dropdown" th:field="${type}" th:object="${type}">
				<button type="button" class="btn bg-dark text-center btn-outline-danger dropdown-toggle"
						data-toggle="dropdown">
					Type
				</button>
				<div class="dropdown-menu bg-dark" style="color: red">
					<label for="type1" class="form-lable">Partners</label>
					<input class="dropdown-item" th:field="*{id}" type="radio" name="type_id" value="1" id="type1">
					<label for="type2" class="form-lable">Coaches</label>
					<input class="dropdown-item" th:field="*{id}" type="radio" name="type_id" value="2" id="type2">
					<label for="type3" class="form-lable">Clients</label>
					<input class="dropdown-item" th:field="*{id}" type="radio" name="type_id" value="3" id="type3">
				</div>
			</div>

			<div class="mb-3">
				<label for="zipcode" class="form-label">Zip Code</label>
				<input class="form-control" th:field="*{zipcode}" type="text" id="zipcode">
			</div>

			<div class="mb-3">
				<label for="title" class="form-label">Title of the post</label>
				<input class="form-control" th:field="*{title}" type="text" id="title">
			</div>

			<div class="mb-3">
				<label for="body" class="form-label">Body of the blog post</label>
				<textarea class="form-control" rows="6" th:field="*{body}" id="body">All text goes here. At this time no formatting is allowed besides line breaks.</textarea>
			</div>
			<button class="btn btn-dark bg-dark text-center btn-outline-danger btn-outline-danger">Submit Post</button>
		</form>
	</div>

	<div th:if="${post.id != 0}">
		<h1>Edit your post</h1>
		<form th:action="@{'/posts/' + ${post.id} + '/edit'}" th:method="post" th:object="${post}">
			<div class="mb-3">
				<label for="title" class="form-label">Title</label>
				<input class="form-control" type="text" th:field="*{title}">
			</div>
			<div class="mb-3">
				<label for="body" class="form-label">Body</label>
				<textarea class="form-control" rows="6" th:field="*{body}"></textarea>
			</div>
			<button class="btn btn-dark text-center bg-dark btn-outline-danger">Submit Post</button>
		</form>
	</div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossOrigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossOrigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossOrigin="anonymous"></script>
<script src="../../public/js/script.js"></script>
</body>
</html>