<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Create Posts')"></head>
<style>
    /* HIDE RADIO
    [type=radio] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }
    */

    /* IMAGE STYLES */
    [type=radio] + img {
        cursor: pointer;
        height: 75px;
        width: 75px;
        margin: 5px;
    }

    /* CHECKED STYLES */
    [type=radio]:checked + img {
        outline: 5px solid rgb(91, 33, 169);
    }

    #currentImage {
        height: 100px;
        width: 100px;
    }
</style>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>

<!--</header>-->
<header class="login">
    <!-- Full Page Intro -->
    <div class="view-login-2">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="container-create-post">
                <!--Grid row-->
                <div class="row mt-5">
                    <!--Grid column-->
                    <!--Grid column-->
                    <!--Grid column-->
                    <!--                        <div class="col-md-6 col-xl-5 mb-4">&lt;!&ndash;th:if="${post.id == 0}"&ndash;&gt;-->

                    <div class="col-12">
                        <div class="card-edit h-100 edit-back">
                            <div class="card-body">
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <!--Form-->
                                        <div class="white-text text-center">
                                            <h1 class="h1-responsive font-weight-bold wow fadeInLeft"
                                                data-wow-delay="0.3s">Create a
                                                Post!</h1>
                                            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                                            <h6 class="sign mb-3 wow fadeInLeft" data-wow-delay="0.3s"></h6>
                                            <!--                        <a class="btn btn-outline-white wow fadeInLeft" data-wow-delay="0.3s">Learn more</a>-->
                                        </div>
                                        <div class="card-sign wow fadeInRight" data-wow-delay="0.3s">
                                            <div class="card-body">
                                                <div class="text-center">
                                                    <h3 class="white-text">
                                                        <i class="white-text"></i> New Post:</h3>
                                                    <p class="text-white">Want to upload more pictures to use? Do
                                                        it </p>
                                                    <form method="get" th:action="@{/images/upload}">
                                                        <input type="hidden" name="directory"
                                                               value="createPostImage">
                                                        <input class="submit-button" type="submit"
                                                               value="Here!"/>
                                                    </form>
                                                    <hr class="hr-light">
                                                </div>
                                                <form th:action="@{/posts/create}" th:method="post"
                                                      th:object="${post}">
                                                    <!--Header-->
                                                    <!--Body-->
                                                    <div class="md-form">
                                                        <div style="display: flex; justify-content: center">
                                                            <div>Select an image for your workout plan:</div>
                                                        </div>
                                                        <div style="display: flex; justify-content: center; flex-wrap: wrap">
                                                            <label>
                                                                <input style="position: absolute; opacity: 0; width: 0; height: 0"
                                                                       type="radio" name="imageId"
                                                                       th:value="${currentImage.id}"
                                                                       checked>
                                                                <img th:src="@{${currentImage.url}}">
                                                            </label>
                                                            <div th:each="image : ${userImages}">
                                                                <label>
                                                                    <input style="position: absolute; opacity: 0; width: 0; height: 0"
                                                                           type="radio" name="imageId"
                                                                           th:value="${image.id}">
                                                                    <img th:src="@{${image.url}}">
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <i class="prefix white-text active"></i>
                                                        <!--<input type="text" id="form3" class="white-text form-control">-->
                                                        <!--ZIP CODE-->
                                                        <!--<label class="form-label mt-3" for="zipcode">Zip Code</label>
                                                        <input class="form-control mb-3" id="zipcode" type="number"
                                                               min="00501" max="99950" th:field="*{zipcode}" required/>-->
                                                        <label class="form-label mt-3" for="city">City</label>
                                                        <input class="form-control mb-3" id="city" type="text"
                                                               th:field="*{city}" required/>
                                                    </div>
                                                    <div class="md-form">
                                                        <i class="prefix white-text active"></i>
                                                        <!--                                    <input type="text" id="form3" class="white-text form-control">-->
                                                        <label class="form-label mt-3" for="title">Title your
                                                            post:</label>
                                                        <input class="form-control mb-3" id="title" type="text"
                                                               th:field="*{title}"
                                                               required/>
                                                    </div>
                                                    <div class="md-form">
                                                        <i class="prefix white-text active"></i>
                                                        <!--                                        <input class="form-control" id="password" name="password"-->
                                                        <!--                                               type="password"/>-->
                                                        <label class="form-label mt-3" for="body">Give your post a
                                                            body:</label>
                                                        <textarea class="form-control" rows="6" th:field="*{body}"
                                                                  id="body"
                                                                  required></textarea>
                                                    </div>
                                                    <div class="mb-1">What type of post is this?</div>
                                                    <input type="radio" name="type_id" value="1"
                                                           id="type1" class="checkstyle" checked>
                                                    <label for="type1" class="form-label-2">Looking for
                                                        Partners</label>
                                                    <br>
                                                    <input type="radio" name="type_id" value="3"
                                                           id="type2" class="checkstyle">
                                                    <label for="type2" class="form-label-2">Looking for
                                                        Coaches</label>
                                                    <br>
                                                    <input type="radio" name="type_id" value="2"
                                                           id="type3" class="checkstyle">
                                                    <label for="type3" class="form-label-2">Looking for
                                                        Clients</label>
                                                    <hr class="hr-light mb-3 mt-4">
                                                    <div class="text-left mt-4">
                                                        <button type="submit" class="submit-button login-button">Submit Post
                                                        </button>

                                                        <!--<div class="inline-ul text-center d-flex justify-content-center">
                                                            <a class="p-2 m-2 tw-ic">
                                                                <i class="fa fa-twitter white-text"></i>
                                                            </a>
                                                            <a class="p-2 m-2 li-ic">
                                                                <i class="fa fa-linkedin white-text"> </i>
                                                            </a>
                                                            <a class="p-2 m-2 ins-ic">
                                                                <i class="fa fa-instagram white-text"> </i>
                                                            </a>
                                                        </div>-->
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!--/.Form-->
                                    </div>
                                    <!--Grid column-->
                                </div>
                                <!--Grid row-->
                            </div>
                            <!-- Content -->
                        </div>
                        <!-- Mask & flexbox options-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<footer th:replace="fragments/footer :: main-footer"></footer>
</body>
</html>
