<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Filter Posts')"></head>
<body class="filter">
<nav th:replace="fragments/navbar :: mainNav"></nav>
<header class="login">
	<div class="view-filter">
		<div class="mask rgba-gradient d-flex justify-content-center align-items-center">
			<div class="container">
				<div class="row mt-5">
					<div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
						<h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Filter Posts</h1>
						<hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
						<h6 class="sign mb-3 wow fadeInLeft" data-wow-delay="0.3s"></h6>
					</div>
					<div class="col-md-6 col-xl-5 mb-4 search-post">
						<div class="card-sign wow fadeInRight" data-wow-delay="0.3s">
							<div class="card-body">
								<form name="zipcode_form">
									<div class="text-center">
										<h3 class="white-text">
											<i class="white-text"></i> Search Posts:</h3>
										<hr class="hr-light">
									</div>
									<div class="md-form">
										<i class="prefix white-text active"></i>
										<input id="zipcode" name="zipcode"  type="text">
										<label for="zipcode" class="white-text">Zipcode</label>
									</div>
									<div class="md-form">
										<i class="prefix white-text active"></i>
										<input class="form-lable mb-3" id="range" name="range"  type="text">
										<label class="form-label mt-3" for="range">Range <em>(miles)</em></label>
									</div>
								</form>
								<form id="filter_form" name="filter_form" th:action="@{/posts/filter}" th:method="post"
									  th:object="${filter}">
									<input th:field="*{params}" type="hidden" id="params">
									<div style="margin: 20px" th:field="${type_name}">
										<div>What type of posts are you looking for?</div>
										<br>
										<label for="type1" class="form-label-2">Looking for Partners</label>
										<input type="radio" name="type_name" value="Partners" id="type1" checked>
										<br>
										<label for="type2" class="form-label-2">Looking for Coaches</label>
										<input type="radio" name="type_name" value="Coaches" id="type2">
										<br>
										<label for="type3" class="form-label-2">Looking for Clients</label>
										<input type="radio" name="type_name" value="Clients" id="type3">
										<div class="text-center mt-4">
											<button class="btn btn-indigo" type="button" value="set_filter" id="set_filter">Confirm</button>
											<hr class="hr-light mb-3 mt-4">
											<div class="inline-ul text-center d-flex justify-content-center"></div>
										</div>
										<div class="text-center mt-4">
											<input class="btn btn-indigo" type="submit" value="submit" id="submit">
											<hr class="hr-light mb-3 mt-4">
											<div class="inline-ul text-center d-flex justify-content-center"></div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<script type="text/javascript" src="/keys.js"></script>
<script type="text/javascript" th:src="@{/js/cssandjs/filter.js}"></script>
</body>
</html>