<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('post')"></head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>
<div class="container">
    <h1 th:text="${post.getTitle()}"></h1>
    <p th:text="${post.getBody()}"></p>
    <p th:text="${post.user.getEmail()}"></p>
    <form th:action="@{/posts/{id}/update(id=${post.getId()})}" method="GET">
        <input type="submit" value="Update Post">
    </form>
    <form th:action="@{/posts/{id}/delete(id=${post.getId()})}" method="GET">
        <input type="submit" value="Delete Post">
    </form>
</div>
</body>
</html>