<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Show a post')"></head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>
<main class="container">
    <div class="post">
        <h1 th:text="${post.title}"></h1>
        <p th:text="${post.body}"></p>
        <p>Contact me at <span th:text="${post.user.email}"></span></p>
    </div>
    
    <form th:action="${'/posts/'+ post.id +'/delete'}" method="POST">
        <input type="submit" value="delete ad">
    </form>

</main>

<footer th:replace="fragments/footer :: main-footer"></footer>
</body>
</html>