<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Inbox')"></head>
<body class="thread">
<nav th:replace="fragments/navbar :: mainNav"></nav>
<div class="messaging">
    <div class="inbox_msg">
        <div class="inbox_people col-10" style="background: inherit;">
            <div class="headind_srch" style="background: inherit;">
                <div class="recent_heading" style="background: inherit;">
                    <h4 class="text-white">Recent</h4>
                </div>
            </div>
            <div class="inbox_chat" style="background: inherit;">
                <div class="chat_list active_chat" style="background: inherit;" th:each="thread : ${threads}">
                    <div class="chat_people d-flex align-content-center" style="background: inherit;">
                        <img class="avatar avatar-md"
                             th:src="@{${imageDao.getOne(thread.getAvatarId()).url}}" alt="sunil">
                        <div class="chat_ib posts d-flex align-items-center" style="background: inherit;">
                            <a th:href="@{/messages/{id}(id=${thread.getId()})}" class="text-white" style="text-decoration: none;">
                                <h5> Your messages with:</h5>
                                <span th:text="${thread.getUsername()}"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: main-footer"></footer>
</body>
</html>
