<!DOCTYPE html>
<html class="thread" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Messages')"></head>
<body class="thread">
<nav th:replace="fragments/navbar :: mainNav"></nav>
<div class="page-content page-container" id="page-content">
    <div class="padding d-flex justify-content-center mt-5">
        <div class="row container">
            <div class="col-md-12">
                <div class="card card-bordered bg-transparent">
                    <div class="card-header">
                        <h4 class="card-title text-white"><strong>Messages</strong></h4>
                    </div>
                    <div class="ps-container ps-theme-default ps-active-y" id="chat-content"
                         style="overflow-y: scroll !important; height:400px !important;">
                        <div class="incoming_msg" th:each="message : ${messages}">
                            <div class="received_msg" th:switch="${message.sentFrom.id}">
                                <div class="outgoing_msg" th:case="${currentUser.id}">
                                    <div class="sent_msg">
                                        <div class="d-flex justify-content-between mb-0">
                                            <div>
                                                <span class="time_date"><small style="color: white">You</small></span>
                                            </div>
                                            <div>
                                                <span class="time_date">
                                            <small
                                                    th:text="${shortF.format(message.datePosted)}"
                                                    style="color: white"></small></span>
                                            </div>
                                        </div>
                                        <p th:text="${message.body}"></p>
                                    </div>
                                </div>
                                <div class="received_withd_msg" th:case="*">
                                    <div class="">
                                        <div class="d-flex justify-content-between mb-0">
                                            <div>
                                                <span class="time_date"><small style="color: white"
                                                                               th:text="${message.sentFrom.username}"></small></span>
                                            </div>
                                            <div>
                                                <span class="time_date"><small style="color: white"
                                                                               th:text="${shortF.format(message.datePosted)}"></small></span>
                                            </div>
                                        </div>
                                        <p th:text="${message.body}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                            <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                            <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                        </div>
                    </div>
                    <div class="row p-2 mt-2 ml-2 mr-0 mb-0"
                         style="background: rgba(126, 123, 215, 0.2); border-top: 1px solid; border-color: inherit">
                        <div class="col-12 pr-0">
                            <div class="d-flex align-items-center">
                                <div class="mr-1">
                                    <img class="float-right avatar avatar-xs"
                                         th:src="${imageDao.getOne(currentUser.getAvatarId()).url}" alt="...">
                                </div>
                                <div class="col px-0">
                                    <form th:action="@{'/messages/send/' + ${id}}" th:method="POST"
                                          th:object="${newMessage}">
                                        <div class="d-flex align-items-center">
                                            <input style="background: white; border-radius: .25rem"
                                                      class="publisher-input" th:field="*{body}"
                                                      type="text" placeholder="Write something..." required>
                                            <button type="submit" class="submit-button ml-1"><i
                                                    class="fa fa-paper-plane"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: main-footer"></footer>
</body>
</html>