<!DOCTYPE html>
<html class="thread" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Workouts')"></head>
<body class="thread">
<nav th:replace="fragments/navbar :: mainNav"></nav>

<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card card-bordered">
                    <div class="card-header">
                        <h4 class="card-title"><strong>Chat</strong></h4> <a class="btn btn-xs btn-secondary" href="#"
                                                                             data-abc="true"></a>
                    </div>
                    <div class="ps-container ps-theme-default ps-active-y" id="chat-content"
                         style="overflow-y: scroll !important; height:400px !important;">
                        <!--YOUR MESSAGES-->
                        <div class="incoming_msg" th:each="message : ${messages}">
                            <!--USER IMAGE-->
                            <!--            <div class="incoming_msg_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>-->
                            <div class="received_msg" th:switch="${message.sentFrom.id}">
                                <div class="received_withd_msg" th:case="${currentUser.id}">
                                    <div>
                                        <small>You</small>
                                        <div class="time_date">
                                            <div
                                                    th:text="${shortF.format(message.datePosted)}"></div>
                                        </div>
                                        <p class="" th:text="${message.body}"></p>


                                    </div>
                                    <!--                <div th:case="${currentUser.id}">-->
                                </div>

                                <!--OTHER USER'S MESSAGES-->
                                <div class="outgoing_msg" th:case="*">
                                    <div class="sent_msg">
                                        <small th:text="${message.sentFrom.username}"></small>
                                        <span class="time_date"><small
                                                th:text="${shortF.format(message.datePosted)}"></small></span>
                                        <p th:text="${message.body}"></p>

                                    </div>
                                </div>

                            </div>

                        </div>
                        <!--MESSAGING-->
                        <!--                    <div class="type_msg">-->
                        <!--                        <div class="input_msg_write">-->
                        <!--                            <input type="text" class="write_msg" placeholder="Type a message"/>-->
                        <!--                            <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o"-->
                        <!--                                                                          aria-hidden="true"></i></button>-->
                        <!--                        </div>-->
                        <!--                    </div>-->
                    </div>


                </div>


            </div>

        </div>

    </div>
</div>


<!--<div class="page-content page-container" id="page-content">-->
<!--    <div class="padding">-->
<!--        <div class="row container d-flex justify-content-center">-->
<!--            <div class="col-md-6">-->
<!--                <div class="card card-bordered">-->
<!--                    <div class="card-header">-->
<!--                        <h4 class="card-title"><strong>Chat</strong></h4> <a class="btn btn-xs btn-secondary" href="#"-->
<!--                                                                             data-abc="true">Let's Chat App</a>-->
<!--                    </div>-->
<!--                    <div class="ps-container ps-theme-default ps-active-y" id="chat-content"-->
<!--                         style="overflow-y: scroll !important; height:400px !important;">-->
<!--                        <div class="media media-chat" th:each="message : ${messages}"><img class="avatar"-->
<!--                                                                                           src="https://img.icons8.com/color/36/000000/administrator-male.png"-->
<!--                                                                                           alt="...">-->
<!--                            <div class="media-body" th:switch="${message.sentFrom.id}">-->
<!--                                <div th:case="${currentUser.id}"></div>-->
<!--                                <p th:text="${message.body}"></p>-->
<!--                                <p class="meta">-->
<!--                                    <time th:text="${shortF.format(message.datePosted)}"></time>-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="media media-meta-day">Today</div>-->
<!--                        <div class="media media-chat media-chat-reverse" th:each="message : ${messages}">-->
<!--                            <div class="media-body">-->
<!--                                <p th:text="${message.body}"></p>-->
<!--                                <small th:text="${message.sentFrom.username}"></small>-->
<!--                                <p class="meta">-->
<!--                                    <time th:text="${shortF.format(message.datePosted)}"></time>-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">-->
<!--                            <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>-->
<!--                        </div>-->
<!--                        <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">-->
<!--                            <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="publisher bt-1 border-light"><img class="avatar avatar-xs"-->
<!--                                                                  src="https://img.icons8.com/color/36/000000/administrator-male.png"-->
<!--                                                                  alt="..."> <input class="publisher-input" type="text"-->
<!--                                                                                    placeholder="Write something"> <span-->
<!--                            class="publisher-btn file-group"> <i class="fa fa-paperclip file-browser"></i> <input-->
<!--                            type="file"> </span> <a class="publisher-btn" href="#" data-abc="true"><i-->
<!--                            class="fa fa-smile"></i></a> <a class="publisher-btn text-info" href="#" data-abc="true"><i-->
<!--                            class="fa fa-paper-plane"></i></a></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<footer th:replace="fragments/footer :: main-footer"></footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossOrigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossOrigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossOrigin="anonymous"></script>
<script src="script.js"></script>
</body>
</html>
