<!DOCTYPE html>
<html class="thread" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Workouts')"></head>
<body class="thread">
<nav th:replace="fragments/navbar :: mainNav"></nav>

<div class="page-content page-container" id="page-content">
    <div class="padding d-flex justify-content-center mt-5">
        <div class="row container">
            <div class="col-md-12">
                <div class="card card-bordered bg-transparent">
                    <div class="card-header">
                        <h4 class="card-title text-white"><strong>Messages</strong></h4>
                        <!--                        <a class="btn btn-xs btn-secondary" href="#"-->
                        <!--                           data-abc="true"></a>-->
                    </div>
                    <div class="ps-container ps-theme-default ps-active-y" id="chat-content"
                         style="overflow-y: scroll !important; height:400px !important;">
                        <!--YOUR MESSAGES-->
                        <div class="incoming_msg" th:each="message : ${messages}">
                            <div class="received_msg" th:switch="${message.sentFrom.id}">
                                <div class="received_withd_msg" th:case="${currentUser.id}">
                                    <div>
                                        <small style="color: white">You</small>
                                        <span class="time_date"><small
                                                th:text="${shortF.format(message.datePosted)}" style="color: white" ></small></span>
                                        <p th:text="${message.body}"></p>
                                    </div>
                                    <!--                <div th:case="${currentUser.id}">-->
                                </div>
                                <!--OTHER USER'S MESSAGES-->
                                <div class="outgoing_msg" th:case="*">
                                    <div class="sent_msg">
                                        <small style="color: white" th:text="${message.sentFrom.username}"></small>
                                        <span class="time_date"><small style="color: white"
                                                th:text="${shortF.format(message.datePosted)}"></small></span>
                                        <p th:text="${message.body}"></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                            <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                            <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                        </div>
                    </div>
                    <div class="publisher" style="background: rgba(126, 123, 215, 0.2); border-top: 1px solid; border-color: inherit"><img class="avatar avatar-xs"
                                                                  th:src="${imageDao.getOne(currentUser.getAvatarId()).url}"
                                                                  alt="...">
                        <form th:action="@{'/messages/send/' + ${id}}" th:method="POST" th:object="${newMessage}"><input style="background: white; border-radius: .25rem" class="publisher-input" th:field="*{body}" type="text" placeholder="Write something" required>
                            <button type="submit" class="submit-button"><i class="fa fa-paper-plane"></i></button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:replace="fragments/footer :: main-footer"></footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossOrigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossOrigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossOrigin="anonymous"></script>
<script src="script.js"></script>
</body>
</html>
