<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Posts')"></head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>

<h6>Comments</h6>


<div class="comment" th:each="comment : ${comments}">
    <div th:if="${comment.workout.id == id}">
        <ul>
            <li th:text="${comment.user.username}"></li>
            <ul>
                <li th:text="${comment.body}"></li>
                <ul>
                    <li style="margin-left: 30px;"><small
                        th:text="${comment.datePosted.dayOfMonth +' '+ comment.datePosted.month+' '+ comment.datePosted.year+' '+comment.datePosted.toLocalTime()}"></small></li>
                </ul>
            </ul>
        </ul>
    </div>
</div>
<div>
    <form th:action="${'/comments/'+id+'/update'}" method="GET">
        <input class="submit-button" type="submit" value="edit comments">
    </form>
    <form th:action="${'/workouts/'+ id + '/comments/create'}" method="GET">
        <input class="submit-button" type="submit" value="add comment">
    </form>
    <form th:action="${'/comments/'+id+'/delete'}" method="GET">
        <input class="submit-button" type="submit" value="delete comment">
    </form>
</div>

<footer th:replace="fragments/footer :: main-footer"></footer>
</body>
</html>