<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Posts')"></head>
<body  class="profile-page">
<nav th:replace="fragments/navbar :: mainNav"></nav>
<div class="jumbotron d-none d-sm-block mb-0 bg-dark text-white view-login">
    <h1 class="display-4">Comments</h1>
</div>
<section class="details-card">
    <div class="container post col-lg-6 col-12 m-0">
        <div class="m-2" th:each="comment : ${comments}">
            <div th:if="${comment.workout.id == id}">
                <div class="row-12 m-0">
                    <div class="col-12 m-0 photo-frame" style="background: inherit">
                        <div class="card-content " style="background: inherit">
                            <div class="card-desc">
                                <div class="d-flex">
                                    <span><img class="avatar mr-2" th:src="@{${imageDao.getOne(comment.user.avatarId).url}}" alt="Card Image cap"></span>
                                    <h5 class="text-white" th:text="${comment.user.username}"></h5>
                                </div>
                                <p class="text-white" th:text="${comment.body}"></p>
                                <p class="text-white"><small
                                        th:text="${comment.datePosted.dayOfMonth +' '+ comment.datePosted.month+' '+ comment.datePosted.year+' '+comment.datePosted.toLocalTime()}"></small>
                                </p>
                                <div class="btn-group mr-2" role="group" aria-label="Second group">
                                    <form th:action="${'/comments/'+ comment.id +'/delete'}" method="POST">
                                        <input class="submit-button" type="submit" value="delete">
                                    </form>
                                    <form class="col col-6" th:action="${'/comments/'+comment.id+'/update'}"
                                          method="GET">
                                        <input class="submit-button" type="submit" value="edit">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form th:action="@{'/workouts/'+ ${id}+ '/comments/create'}" method="GET">
        <input class="submit-button" type="submit" value="add comment">
    </form>
</section>

<footer th:replace="fragments/footer :: main-footer"></footer>
</body>
</html>