<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>


<footer class="sticky text-center d-none"  th:fragment="main-footer">
    <div class="container d-none">
        <small style="color: ghostwhite"> Made for <i class='fas fa-heartbeat'
                                                      style=' color: ghostwhite;  font-size:24px'></i> by: <a
                href="https://github.com/Pressd-codeup" target="_blank">Pressd Inc.</a></small>
        <script th:src="@{//code.jquery.com/jquery-3.2.1.slim.min.js}"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossOrigin="anonymous"></script>
        <script th:src="@{//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossOrigin="anonymous"></script>
        <script th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossOrigin="anonymous"></script>
        <script th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/cssandjs/script.js}"></script>
    </div>
</footer>
</body>
</html>