<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('User\'s Comments')"></head>
<body class="post-body">
<nav th:replace="fragments/navbar :: mainNav"></nav>
<header class="login col-lg-12 p-0">
    <div class="view-comments col-lg-12 p-0">
        <div class="mask rgba-gradient d-flex justify-content-center align-items-center col-lg-12">
            <div class="container col-lg-12 d-flex flex-column justify-content-center">
                <div class="d-flex">
                    <h1 class="text-white"><span th:text="${user.username}"></span>'s Comments:</h1>
                </div>
                <div class="col-lg-12 mb-4 login-box pb-0 mt-0" th:each="comment : ${comments}">
                    <div class="card-sign wow fadeInRight pb-2" data-wow-delay="0.3s">
                        <div class="white-text text-center">
                            <h2 class="h2-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s"
                                th:text="${comment.workout.title}"></h2>
                            <h6 class="sign mb-3 wow fadeInLeft" data-wow-delay="0.3s"></h6>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div><img class="avatar mr-2" th:src="@{${imageDao.getOne(comment.user.avatarId).url}}" alt="Card Image cap"></div>
                                <div>
                                    <h5 class="text-white mb-0" th:text="${user.username}"></h5>
                                </div>
                            </div>
                            <hr class="hr-light">
                            <div class="mb-4">
                                <div class="d-flex justify-content-between p-2">
                                    <p class="text-white" th:text="${comment.body}"></p>
                                    <p class="text-white"
                                           th:text="${comment.datePosted.dayOfMonth +' '+ comment.datePosted.month +' '+ comment.datePosted.year}"></p>
                                </div>
                                <hr class="hr-light">
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <form th:action="${'/workouts/'+ comment.workout.id}" method="GET">
                                    <input class="submit-button" type="submit" value="View Context">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<footer th:replace="fragments/footer :: main-footer"></footer>
</body>
</html>