<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('comments')"></head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>

<main class="container">
    <h1 th:text="${user.username +' Comments'}"></h1>
        <div class="post" th:each="comment : ${comments}">
            <h1 th:text="${comment.workout.title}"></h1>
            <p th:text="${comment.body}"></p>
            <small th:text="${comment.datePosted.dayOfMonth +' '+ comment.datePosted.month+' '+ comment.datePosted.year+' '+comment.datePosted.toLocalTime()}"></small>
            <form th:action="${'/workouts/'+ comment.workout.id+'/comments'}" method="GET">
                <input type="submit" value="View Comment">
            </form>
        </div>

</main>

<footer th:replace="fragments/footer :: main-footer"></footer>
<script  src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossOrigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossOrigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossOrigin="anonymous"></script>
<script src="script.js"></script>
</body>
</html>