<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Dashboard')"></head>
<body class="profile-page">
<nav th:replace="fragments/navbar :: mainNav"></nav>

<h2>Update Your Profile</h2>


<form th:action="@{'/users/'+ ${user.id} +'/edit'}" method="post" th:object="${user}">

    <h2>Edit Profile</h2>

    <br>

    <label for="username">Username</label>
    <input th:field="*{username}" id="username" type="text">

    <br>

    <label for="password">Password</label>
    <input th:field="*{password}" id="password" type="password">

    <br>

    <label for="email">Email</label>
    <input th:field="*{email}" id="email" type="text">

    <br>

    <label for="about">About</label>
    <textarea class="form-control" th:field="*{about}" id="about" type="text"></textarea>

    <br>
    <input type="submit" value="Update Profile!">

</form>

<footer th:replace="fragments/footer :: main-footer"></footer>
</body>
</html>