<!DOCTYPE html>
<html class="login_page" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Login')"></head>
<body class="login_page">
<nav th:replace="fragments/navbar :: mainNav"></nav>


<div class="container-md text-center">
    <div th:if="${param.error}">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Warning!</strong> Invalid Username and Password.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <div th:if="${param.logout}">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Signout complete.</strong> You have been logged out.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>


    <div class="container main_container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">

                    <form th:action="@{/login}" method="post">
                        <label class="form-label mt-3" for="username">Username</label>
                        <input class="form-control mb-3" id="username" name="username" type="text"/>

                        <label class="form-label mt-3" for="password">Password</label>
                        <div class="input-group mb-3"><input class="form-control" id="password" name="password"
                                                             type="password"/>
                        </div>
                        <!--                            <span class="input-group-text"><i class="" id="togglePassword"></i></span></div>-->

                        <button type="submit" class="btn">Log in</button>
                    </form>
                </div>
            </div>
        </div>
        <footer th:fragment="footer"></footer>

        <script>

            const togglePassword = document.getElementById("togglePassword");
            const password = document.getElementById("password");

            togglePassword.addEventListener('click', function (e) {
                // toggle the type attribute
                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                password.setAttribute('type', type);
                // toggle the eye slash icon
                this.classList.toggle('fa-eye-slash');
                this.classList.toggle('fa-eye')
            })

        </script>

        <footer th:replace="fragments/footer :: main-footer"></footer>
</body>
</html>