<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('posts')"></head>
<body class="posts">
<nav th:replace="fragments/navbar :: mainNav"></nav>
<section class="details-card">
    <main class="container">
        <h1 th:text="${user.username +' Posts'}"></h1>
        <div class="posts" th:each="post : ${posts}">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <img class="img-thumbnail img-fluid text-center" th:src="@{${post.image.url}}"
                         alt="alt"/>
                </div>
                <hr class="hr-light">
                <div>
                    <div class="d-flex justify-content-between p-2">
                        <small class="text-white" th:text="${post.getUser().username}"></small>
                        <small class="text-white"
                               th:text="${post.datePosted.dayOfMonth +' '+ post.datePosted.month +' '+ post.datePosted.year}"></small>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <form th:action="@{${'/posts/'+post.id}}" method="GET">
                            <input class="submit-button" type="submit" value="View Posts">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>
<footer th:replace="fragments/footer :: main-footer"></footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossOrigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossOrigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossOrigin="anonymous"></script>
<script src="script.js"></script>
</body>
</html>