<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Show a post')"></head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>
<main class="container">
    <div class="user workout post">
        <h1 th:text="${user.username}"></h1>
        <p th:text="${user.about}"></p>
    </div>
    <div>
        <h1 th:text="${workout.title}"></h1>
    </div>
</main>
<footer th:replace="fragments/footer :: main-footer"></footer>
</body>
</html>