<!DOCTYPE html>
<html class="sign_up" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Sign Up')"></head>
<body class="sign_up">
<nav th:replace="fragments/navbar :: mainNav"></nav>
<header class="sign_up">
    <div class="view">
        <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row col-12 dong mt-5">
                    <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
                        <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Sign up! </h1>
                        <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                        <h6 class="sign mb-3 wow fadeInLeft" data-wow-delay="0.3s">Join the growing community of
                            like-minded individuals reaching their fitness goals!</h6>
                    </div>
                    <div class="bottom-fix col-md-6 col-xl-5 mb-4 sign-up-box">
                        <div class="card-sign wow fadeInRight" data-wow-delay="0.3s">
                            <div class="card-body">
                                <div class="text-center">
                                    <h3 class="white-text">
                                        <i class="fa fa-user white-text"></i> Register:</h3>
                                </div>
                                <form th:action="@{/sign-up}" method="POST" th:object="${user}">
                                    <hr class="hr-light">
                                    <div class="md-form">
                                        <span>
                                            <i class="fa fa-user prefix white-text active"></i>
                                            <label for="username" class="active">Username</label>
                                        </span>
                                        <input class="form-control mb-3" id="username" th:field="*{username}"/>
                                    </div>
                                    <div class="md-form">
                                        <span>
                                            <i class="fa fa-envelope prefix white-text active"></i>
                                            <label class="active" for="email">Your email</label>
                                        </span>
                                        <input type="email" class="white-text form-control" id="email"
                                               th:field="*{email}">
                                    </div>
                                    <div class="md-form">
                                        <span>
                                            <i class="fa fa-lock prefix white-text active"></i>
                                            <label for="password">Your password</label>
                                        </span>
                                        <input type="password" id="password" class="white-text form-control"
                                               th:field="*{password}">
                                    </div>
                                    <div class="justify-content-between mt-4">
                                        <input type="submit" class="submit-button" value="Sign Up">
                                        <hr class="hr-light mb-3 mt-4">
                                        <div class="inline-ul text-center d-flex justify-content-center">
                                            <a class="p-4 m-4 tw-ic">
                                                <i class="fa fa-twitter white-text"></i>
                                            </a>
                                            <a class="p-4 m-4 li-ic">
                                                <i class="fa fa-linkedin white-text"> </i>
                                            </a>
                                            <a class="p-4 m-4 ins-ic">
                                                <i class="fa fa-instagram white-text"> </i>
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<footer th:replace="fragments/footer :: main-footer"></footer>
</body>
</html>