<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Upload')"></head>
<body class="login view-image-upload">
<nav th:replace="fragments/navbar :: mainNav"></nav>
<style>
  #json img {
    max-width: 33%;
    max-height: 33%;
  }
</style>
<header class="mask rgba-gradient" style="background-size: auto">
  <div >
    <div class="d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row mt-5">
          <div class="col-lg-12 mb-4 login-box">
            <div class="white-text text-center">
              <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">
                Upload Image</h1>
              <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
            </div>
            <div class="wow fadeInRight" data-wow-delay="0.3s">
              <div class="card-body upload-box mt-2">
                <div class="d-flex flex-column align-items-center">
                  <input type="button" class="submit-button" id="loadFileXml" value="Upload" onclick="document.getElementById('input_img').click();" />
                  <input class="submit-button" type="file" id="input_img" th:onchange="fileChange()" accept="image/*" style="display: none">
                  <hr class="hr-light">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column align-items-center">
    <div id="json" class="d-flex flex-column align-items-center text-white"></div>
    <form id="uploadForm" th:action="@{/images/upload/post}" class="mt-1" th:method="post" style="display: none">
      <input type="hidden" name="id" th:value="${id}">
      <input type="hidden" name="url" id="url">
      <input class="submit-button" type="submit" value="Save your image!">
    </form>
  </div>
</header>
<script type="text/javascript" src="/keys.js"></script>
<script type="text/javascript" th:src="@{/js/cssandjs/upload.js}"></script>
<footer>
  <script th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
</footer>
</body>
</html>