<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('About Us')"></head>
<body class="about">
<nav th:replace="fragments/navbar :: mainNav"></nav>
<section class="login col-lg-12 p-0 rgba-gradient">
    <div class="view-about col-lg-12 p-0">
        <div class="mask rgba-gradient d-flex justify-content-center align-items-center col-lg-12">
            <div class="container col-lg-12 d-flex flex-column justify-content-center">
                <div class="d-flex flex-column align-items-center">
                    <section class="pt-3 pb-5">
                        <h1 class="d-flex flex-column align-items-center" style="color: whitesmoke">We are Pressd</h1>
                        <br>
                        <div class="card-sign">
                            <div class="d-flex justify-content-center">
                                <div class="row">
                                    <div class="card col-sm-12 col-md-3 border-0 "
                                         style="background: inherit; width: 18rem">
                                        <div class="d-flex flex-column align-items-center">
                                            <h3 class="card-title" style="color: whitesmoke">Chris Agold</h3>
                                            <img class="chris-pic" alt="Chris">
                                        </div>
                                        <div class="card-body pb-0 pt-1" style="color: whitesmoke">
                                            <div class="d-flex justify-content-center">
                                                <a th:href="@{https://github.com/ChrisAgold}"><span
                                                        class="btn about-btn"><i
                                                        class="fab fa-github"></i></span></a>
                                                <a th:href="@{https://linkedin.com/in/chrisagold/}"><span
                                                        class="btn about-btn"><i
                                                        class="fab fa-linkedin"></i></span></a>
                                            </div>
                                            <h6 class="mt-2 ml-2 pl-1">Front-End Web Developer</h6>
                                            <h6 class="ml-2 pl-1">Environmental Science Undergraduate</h6>
                                            <h6 class="ml-2 pl-1">Passion for Design</h6>
                                        </div>
                                    </div>
                                    <div class="card col-sm-12 col-md-3 border-0 "
                                         style="background: inherit; width: 18rem">
                                        <div class="d-flex flex-column align-items-center">
                                            <h3 class="card-title" style="color: whitesmoke;">Jeremiah Baham</h3>
                                            <img class="jeremiah-pic">
                                        </div>
                                        <div class="card-body pb-0 pt-1" style="color: whitesmoke">
                                            <div class="d-flex justify-content-center">
                                                <a th:href="@{https://github.com/jbaham1}"><span
                                                        class="btn about-btn"><i
                                                        class="fab fa-github"></i></span></a>
                                                <a th:href="@{https://linkedin.com/in/jeremiahbaham/}"><span
                                                        class="btn about-btn"><i class="fab fa-linkedin"></i></span></a>
                                            </div>
                                            <h6 class="mt-2 ml-2 pl-1">Marine Corps Veteran</h6>
                                            <h6 class="ml-2 pl-1">Management Information Systems Undergraduate Student</h6>
                                            <h6 class="ml-2 pl-1">Passion for Continuous Learning</h6>
                                        </div>
                                    </div>
                                    <div class="card col-sm-12 col-md-3 border-0 "
                                         style="background: inherit; width: 18rem">
                                        <div class="d-flex flex-column align-items-center">
                                            <h3 class="card-title" style="color: whitesmoke">Daniel Benzion</h3>
                                            <img class="dan-pic">
                                        </div>
                                        <div class="card-body pb-0 pt-1" style="color: whitesmoke">
                                            <div class="d-flex justify-content-center">
                                                <a th:href="@{https://github.com/daniel-benzion}"><span
                                                        class="btn about-btn"><i
                                                        class="fab fa-github"></i></span></a>
                                                <a th:href="@{https://linkedin.com/in/danielbenzion/}"><span
                                                        class="btn about-btn"><i
                                                        class="fab fa-linkedin"></i></span></a>
                                            </div>
                                            <h6 class="mt-2 ml-2 pl-1">Army Veteran</h6>
                                            <h6 class="ml-2 pl-1">Oracle Certified Associate Java SE8 Programmer</h6>
                                            <h6 class="ml-2 pl-1">Passion for Problem Solving</h6>
                                        </div>
                                    </div>
                                    <div class="card col-sm-12 col-md-3 border-0  pb-0"
                                         style="background: inherit; width: 18rem">
                                        <div class="d-flex flex-column align-items-center">
                                            <h3 class="card-title" style="color: whitesmoke">Johnny Fisher</h3>
                                            <img class="johnny-pic">
                                        </div>
                                        <div class="card-body pb-0 pt-1" style="color: whitesmoke">
                                            <div class="d-flex justify-content-center">
                                                <a th:href="@{https://github.com/https://github.com/JohnnyLFisher}"><span
                                                        class="btn about-btn"><i
                                                        class="fab fa-github"></i></span></a>
                                                <a th:href="@{https://linkedin.com/in/johnny-fisher/}"><span
                                                        class="btn about-btn"><i
                                                        class="fab fa-linkedin"></i></span></a>
                                            </div>
                                            <h6 class="mt-2 ml-2 pl-1">Java Developer</h6>
                                            <h6 class="ml-2 pl-1">Passion for Technology</h6>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div>
                                <div class="d-flex">
                                    <div class="row">
                                        <div class="d-flex col">
                                            <div class="col-sm-12 col-md-7">
                                                <p style="color: whitesmoke">
                                                    During the Covid 19 pandemic, gyms closed and people were confined
                                                    to
                                                    their homes contributing to the decrease in sense of community and
                                                    reduction in physical activity. As states and gyms open back up,
                                                    people
                                                    are finding the need to be more social and active to improve their
                                                    mental and physical health. Local fitness centers were also greatly
                                                    impacted financially by the coronavirus. Pressd seeks to be a
                                                    user-driven platform to connect to other individuals who are
                                                    passionate
                                                    about their physical fitness while improving each other’s social
                                                    life.
                                                    This platform is meant to bring the community together in a fitness
                                                    center by helping individuals build partnerships through working
                                                    out.
                                                </p>
                                            </div>
                                            <div class="col-sm-12 col-md-5">
                                                <div><p class="" style="color: whitesmoke">Pressd was built using Java,
                                                    Spring Boot, MySQL, Thymeleaf, HTML, CSS/Bootstrap, JavaScript, and
                                                    jQuery. You can check out our GitHub repository <a
                                                            class="about-btn2 pl-0"
                                                            th:href="@{https://github.com/Pressd-codeup/pressd}">here.</a>
                                                </p></div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="fragments/footer :: main-footer"></footer>
</body>
</html>