<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('About Us')"></head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>
<div>
    <h1>We are Pressd</h1>
    <h2>Creators: </h2> <h4><a href="https://www.linkedin.com/in/chrisagold/">Christopher Agold</a>, <a
        href="https://www.linkedin.com/in/jeremiahbaham/">Jeremiah Baham</a>, <a
        href="https://www.linkedin.com/in/danielbenzion/">Daniel Benzion</a> , and <a
        href="https://www.linkedin.com/in/johnny-fisher/"> Johnny Fisher</a></h4>
    <hr>
    <div>
        <div>
            <p class="m-5 ">
                    During the Covid 19 pandemic, gyms closed and people were confined to their homes contributing to the
                decrease in sense of community and reduction in physical activity. As states and gyms open back up,
                people are finding the need to be more social and active to improve their mental and physical health.
                Local fitness centers were also greatly impacted financially by the coronavirus. Pressd seeks to be a
                user-driven platform to connect to other individuals who are passionate about their physical fitness
                while improving each other’s social life. This platform is meant to bring the community together in a
                fitness center by helping individuals build partnerships through working out.


            </p>
            <p class="m-5">Pressd was built using Java, Spring Boot, MySQL, Thymeleaf, HTML, CSS/Bootstrap, JavaScript, and jQuery. You can check out our GitHub repository <a href="https://github.com/Pressd-codeup/pressd">here.</a></p>
        </div>
        <h3>Christopher:</h3>
        <img class="chris-pic"/>
        <h6></h6>
        <hr>
        <h3>Jeremiah:</h3>
        <img class="jeremiah-pic">
        <h6>Marine Corps Veteran, Management Information Systems undergraduate, Passion for Continuous Learning</h6>
        <hr>
        <h6>Daniel:</h6>
        <img class="dan-pic"/>
        <h6>Army Veteran, Oracle Certified Associate Java SE8 Programmer, Passion for Problem Solving</h6>
        <hr>
        <h6>Johnny:</h6>
        <img class="johnny-pic">
        <h6></h6>
        <hr>
    </div>
</div>
<footer th:replace="fragments/footer :: main-footer"></footer>
</body>
</html>