<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Error')"></head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>


<main class="container">
	<div>
		<!--/*@thymesVar id="CustomError" type="com.codeup.pressd.models.CustomError"*/-->
		<h2>Status: <span th:text="${error.ErrorCode}"></span></h2>
		<p th:text="${error.ErrorMessage}"></p>
<!--		<p th:text="${error.ErrorException}" hidden id="info"></p>-->
	</div>
</main>
<script>
	// console.log(document.getElementById("info"))
</script>
<footer th:replace="fragments/footer :: main-footer"></footer>
</body>
</html>