<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">



<!--<link rel="stylesheet" th:href="../../../public/css/landing/bootstrap.min.css">-->
<!--<link rel="stylesheet" th:href="../../../public/css/landing/font-awesome.min.css">-->
<!--<link rel="stylesheet" th:href="../../../public/css/landing/aos.css">-->

<head th:replace="fragments/header :: main-head('Home Page')">
</head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>
<h1>This will be home</h1>

<!-- HERO -->
<section class="hero d-flex flex-column justify-content-center align-items-center" id="home">

    <div class="bg-overlay"></div>

    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-10 mx-auto col-12">
                <div class="hero-text mt-5 text-center">

                    <h6 data-aos="fade-up" data-aos-delay="300">new way to build a healthy lifestyle!</h6>

                    <h1 class="text-white" data-aos="fade-up" data-aos-delay="500">Upgrade your body at Pressd Fitness</h1>

                    <a href="#feature" class="btn custom-btn mt-3" data-aos="fade-up" data-aos-delay="600">Get started</a>

                    <a href="#about" class="btn custom-btn bordered mt-3" data-aos="fade-up" data-aos-delay="700">learn more</a>

                </div>
            </div>

        </div>

    </div>
</section>




<script  src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossOrigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossOrigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossOrigin="anonymous"></script>
<script src="../../public/js/script.js"></script>
</body>
</html>