<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Create a Plan')"></head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>
<section class="create d-flex flex-column justify-items-center align-content-center" id="create">
    <div class="container">
        <h1 style="color: white">Create a Workout plan</h1>
        <div>
            <form th:action="@{/workouts/create}" th:method="post" th:object="${workout}">
                <div class="form-check" style="color: white; font-weight: bolder" th:field="${workout.categories}">
                    <label>Category</label><hr>
                    <input class="form-check-input" name="1" type="checkbox" value="1" id="strength">
                    <label class="form-check-label" for="strength">
                        Strength Training
                    </label>
                    <br>
                    <input class="form-check-input" name="2" type="checkbox" value="2" id="bodybuilding">
                    <label class="form-check-label" for="bodybuilding">
                        BodyBuilding
                    </label>
                    <br>
                    <input class="form-check-input" name="3" type="checkbox" value="3" id="endurance">
                    <label class="form-check-label" for="endurance">
                        Endurance Training
                    </label>
                    <br>
                    <input class="form-check-input" name="4" type="checkbox" value="4" id="arms">
                    <label class="form-check-label" for="arms">
                        Arms
                    </label>
                    <br>
                    <input class="form-check-input" name="5" type="checkbox" value="5" id="chest">
                    <label class="form-check-label" for="chest">
                        Chest
                    </label>
                    <br>
                    <input class="form-check-input" name="6" type="checkbox" value="6" id="back">
                    <label class="form-check-label" for="back">
                        Back
                    </label>
                    <br>
                    <input class="form-check-input" name="7" type="checkbox" value="7" id="legs">
                    <label class="form-check-label" for="legs">
                        Legs
                    </label>
                    <br>
                    <input class="form-check-input" name="8" type="checkbox" value="8" id="core">
                    <label class="form-check-label" for="core">
                        Core
                    </label>
                    <br>
                    <hr>
                    <br>
                    <label for="title" class="form-label">Title</label>
                    <input class="form-control" th:field="*{title}" type="text" id="title">
                    <br>
                    <label for="body" class="form-label">Body</label>
                    <input class="form-control" th:field="*{body}" type="text" id="body">
                    <button class="btn btn-dark bg-dark text-center btn-outline-danger btn-outline-danger">Submit Plan
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
<footer th:replace="fragments/footer :: main-footer"></footer>
</body>
</html>