<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Home Page')"></head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>
<h1>Create a Workout plan</h1>
<div class="container">
    <div th:if="${workout.id == 0}">
        <h1>Please Create a New Workout Plan</h1>
        <form th:action="@{/workouts/create}" th:method="post" th:object="${workout}">
            <div class="dropdown">
                <button type="button" class="btn bg-dark text-center btn-outline-danger dropdown-toggle"
                        data-toggle="dropdown">
                    Type
                </button>
                <div class="dropdown-menu bg-dark" style="color: red">
                    <a class="dropdown-item" value="1">Partners</a>
                    <a class="dropdown-item" value="2">Coaches</a>
                    <a class="dropdown-item" value="3">Clients</a>
                </div>
                <div class="mb-3">
                    <label for="zipcode" class="form-label">Zip Code</label>
                    <input class="form-control" th:field="*{zipcode}" type="text">
                </div>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input class="form-control" th:field="*{title}" type="text">
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Body</label>
                <textarea class="form-control" rows="6" th:field="*{body}">All text goes here. At this time no formatting is allowed besides line breaks.</textarea>
            </div>
            <button class="btn btn-dark bg-dark text-center btn-outline-danger btn-outline-danger">Submit Post</button>
        </form>
    </div>


</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossOrigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossOrigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossOrigin="anonymous"></script>
<script src="../../public/js/script.js"></script>
</body>
</html>