<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Workouts')"></head>
<body class="post-body">
<nav th:replace="fragments/navbar :: mainNav"></nav>

<!--ORIGINAL CODE-->

<!--<main class="container">-->
<!--    <div class="post" th:each="workout : ${workouts}">-->
<!--        <h1 th:text="${workout.title}"></h1>-->
<!--        <small th:text="${workout.user.username}"></small>-->
<!--        <p th:text="${workout.body}"></p>-->
<!--        <small th:text="${workout.datePosted.dayOfMonth +' '+workout.datePosted.month +' '+workout.datePosted.year}"></small>-->
<!--        <form th:action="${'/workouts/'+ workout.id}" method="GET">-->
<!--            <input type="submit" value="View Plan">-->
<!--        </form>-->
<!--    </div>-->
<!--</main>-->

<!-- Jumbotron Header -->
<div class="jumbotron">
    <h1 class="display-4">Workout Plans</h1>
</div>
<!-- details card section starts from here -->
<section class="details-card">
    <div class="container post col-lg-6 col-12 m-0 float-left" th:each="workout : ${workouts}">
        <div class="row-12 m-0">

            <div class="col-12 m-0 photo-frame">
                <div class="card-content">
                    <div class="card-img">
                        <!--ADD IMAGE-->
                        <img src="https://placeimg.com/380/230/nature" alt="">
                    </div>
                    <div class="card-desc">
                        <h3 th:text="${workout.title}"></h3>
                        <small th:text="${workout.user.username}"></small>
                        <p th:text="${workout.body}"></p>
                        <small th:text="${workout.datePosted.dayOfMonth +' '+workout.datePosted.month +' '+workout.datePosted.year}"></small>
                        <form th:action="${'/workouts/'+ workout.id}" method="GET">
                            <input type="submit" value="View Plan">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="fragments/footer :: main-footer"></footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossOrigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossOrigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossOrigin="anonymous"></script>
<script src="script.js"></script>
</body>
</html>