<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Workouts')"></head>
<style>
    span.stars, span.stars span {
        display: block;
        background: url(http://i.imgur.com/YsyS5y8.png) 0 -16px repeat-x;
        width: 80px;
        height: 16px;
    }

    span.stars span {
        background-position: 0 0;
    }

</style>
<script>

    $.fn.stars = function () {
        return $(this).each(function () {
            // Get the value
            let val = parseFloat($(this).html());
            // Make sure that the value is in 0 - 5 range, multiply to get width
            let size = Math.max(0, (Math.min(5, val))) * 16;
            // Create stars holder
            let $span = $('<span />').width(size);
            // Replace the numerical value with stars
            $(this).html($span);
        });
    }</script>
<script>
    $(function () {
        $('span.stars').stars();
    });
</script>

<!--ORIGINAL CODE-->

<!--<body>-->
<!--<nav th:replace="fragments/navbar :: mainNav"></nav>-->
<!--<main class="container">-->
<!--    <div class="workout">-->
<!--        <h1 th:text="${workout.title}"></h1>-->
<!--        <p th:text="${workout.body}"></p>-->
<!--        <span class="stars" th:text="${rating}"></span>-->
<!--        <p><span th:text="${df.format(rating)}"></span>/5</p>-->
<!--        <p>Total ratings: <span th:text="${totalRatings}"></span></p>-->
<!--        <div th:if="${isLoggedIn}">-->
<!--            <div th:if="${userRating} == 0">-->
<!--                <p>You haven't rated this workout yet!</p>-->


<!--                <form th:action="@{/ratings/{id}/create(id=${workout.getId()})}" method="post">-->
<!--                    <label for="newRating">Add your rating: </label>-->
<!--                    <select name="newRating" id="newRating">-->
<!--                        <option value="1">1</option>-->
<!--                        <option value="2">2</option>-->
<!--                        <option value="3">3</option>-->
<!--                        <option value="4">4</option>-->
<!--                        <option value="5">5</option>-->
<!--                    </select>-->
<!--                    <input type="submit" value="Submit your rating!">-->
<!--                </form>-->

<!--            </div>-->
<!--            <div th:unless="${userRating} == 0">-->
<!--                <p>Your current rating:</p>-->
<!--                <span class="stars" th:text="${userRating}"></span>-->
<!--                <p><span th:text="${userRating}"></span>/5</p>-->

<!--                <form th:action="@{/ratings/{id}/update(id=${workout.getId()})}" method="post">-->
<!--                    <label for="newRating">Change your rating? </label>-->
<!--                    <select name="newRating" id="newRating">-->
<!--                        <option value="1">1</option>-->
<!--                        <option value="2">2</option>-->
<!--                        <option value="3">3</option>-->
<!--                        <option value="4">4</option>-->
<!--                        <option value="5">5</option>-->
<!--                    </select>-->

<!--                    <input type="submit" value="Update your rating!">-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <form th:action="${'/workouts/'+id+'/update'}" method="GET">-->
<!--        <input type="submit" value="edit workout">-->
<!--    </form>-->

<!--    <form th:action="${'/workouts/'+id+'/comments'}" method="GET">-->
<!--        <input type="submit" value="View Comments">-->
<!--    </form>-->
<!--    <form th:action="${'/workouts/'+ workout.id +'/delete'}" method="POST">-->
<!--        <input type="submit" value="delete workout">-->
<!--    </form>-->
<!--    <form th:action="${'/users/'+ workout.user.id}" method="GET">-->
<!--        <input type="submit" value="View User">-->
<!--    </form>-->


<!--START-->
<style>
    /* IMAGE STYLES */
    [type=radio] + img {
        cursor: pointer;
        height: 75px;
        width: 75px;
        margin: 5px;
    }

    /* CHECKED STYLES */
    [type=radio]:checked + img {
        outline: 5px solid #f00;
    }

    #currentImage {
        height: 100px;
        width: 100px;
    }
</style>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>

<header class="login">
    <!-- Full Page Intro -->
    <div class="view-user-post">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="container d-flex justify-content-center">
                <!--Grid row-->
                <div class="row mt-5">
                    <!--Grid column-->
                    <div class="mb-4 login-box">
                        <div class="white-text text-center">


                            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                            <h6 class="sign mb-3 wow fadeInLeft" data-wow-delay="0.3s"></h6>
                            <!--                        <a class="btn btn-outline-white wow fadeInLeft" data-wow-delay="0.3s">Learn more</a>-->
                        </div>
                        <div class="card-sign wow fadeInRight" data-wow-delay="0.3s">
                            <div class="card-body">
                                <div class="">
                                    <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s"
                                        th:text="${workout.title}"></h1>
                                    <!--IMAGE-->
                                    <!--                                        <img class="img-thumbnail img-fluid" th:src="@{${post.image.url}}" alt="alt"/>-->
                                </div>
                                <hr class="hr-light">
                            </div>
                            <!--Header-->
                            <div class="card-body workout">
                                <p class="workout-text" th:text="${workout.body}"></p>
                                <span class="stars" th:text="${rating}"></span>
                                <p class="workout-text"><span th:text="${df.format(rating)}"></span>/5</p>
                                <p class="workout-text">Total ratings: <span th:text="${totalRatings}"></span></p>
                                <div th:if="${isLoggedIn}">
                                    <div th:if="${userRating} == 0">
                                        <p>You haven't rated this workout yet!</p>

                                        <form th:action="@{/ratings/{id}/create(id=${workout.getId()})}" method="post">
                                            <label for="newRating">Add your rating: </label>
                                            <select name="newRating" id="newRating">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                            <input class="submit-button" type="submit" value="Submit your rating!">
                                        </form>
                                        <div th:unless="${userRating} == 0">
                                            <p>Your current rating:</p>
                                            <span class="stars" th:text="${userRating}"></span>
                                            <p><span th:text="${userRating}"></span>/5</p>

                                            <form th:action="@{/ratings/{id}/update(id=${workout.getId()})}"
                                                  method="post">
                                                <label for="newRating">Change your rating? </label>
                                                <select name="newRating" id="newRating">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>

                                                <input class="submit-button" type="submit" value="Update your rating!">
                                            </form>
                                        </div>
                                    </div>
<!--                                    <iframe width="560" height="315" th:src="@{https://www.youtube.com/embed/RjexvOAsVtI}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                                </div>
                                <div class="btn-group mr-2" role="group" aria-label="Second group">
                                    <form th:action="${'/workouts/'+id+'/update'}" method="GET">
                                        <input class="submit-button" type="submit" value="edit workout">
                                    </form>
                                    <form th:action="${'/workouts/'+id+'/comments'}" method="GET">
                                        <input class="submit-button" type="submit" value="View Comments">
                                    </form>
                                </div>
                                <div class="btn-group" role="group" aria-label="Third group">
                                    <form th:action="${'/workouts/'+ workout.id +'/delete'}" method="POST">
                                        <input class="submit-button" type="submit" value="delete workout">
                                    </form>
                                    <form th:action="${'/users/'+ workout.user.id}" method="GET">
                                        <input class="submit-button" type="submit" value="View User">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>

</body>
</html>