<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Workouts')"></head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>
<main class="container">
    <div class="workout">
        <h1 th:text="${workout.title}"></h1>
        <p th:text="${workout.body}"></p>
        <p th:href="@{workout.user}"></p>
    </div>
        <h6>Comments</h6>
        <div class="comment" th:each="comment : ${workout.comments}">
            <ul>
                <li th:text="${comment.user.username}"></li>
                <ul>
                    <li th:text="${comment.body}">

                    <li th:text="${comment.datePosted.dayOfMonth +' '+ comment.datePosted.month+' '+ comment.datePosted.year}"></li>

                    </li>
                </ul>
            </ul>
        </div>
    <form th:action="${'/workouts/'+ workout.id +'/delete'}" method="POST">
        <input type="submit" value="delete workout">
    </form>
    <form th:action="${'/users/'+ workout.user.id}" method="GET">
        <input type="submit" value="View User">
    </form>

</main>
</body>
</html>