<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('update workout')"></head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>
<form th:action="@{/workouts/{id}/update(id=${workout.getId()})}" method="post">

    <h2>Update Your workout</h2>

    <br>

    <label for="title">Title</label>
    <input id="title" name="title">
    <p>Your previous title: <span th:text="${workout.getTitle()}"></span></p>

    <br>

    <label for="body">Body</label>
    <input id="body" name="body">
    <p>Your previous body: <span th:text="${workout.getBody()}"></span></p>
    <br>

    <input type="submit" value="Update workout!">

</form>


<footer th:replace="fragments/footer :: main-footer"></footer>
</body>
</html>