<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Update Workout')"></head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>
    <h1>Edit your Workout</h1>
        <div class="mb-3">
            <label for="title" class="form-label">Update workout</label>
            <input class="form-control" id="title" type="text" th:field="*{workout.title}">
        </div>
        <div class="mb-3">
            <label for="body" class="form-label">Body</label>
            <label>
                <textarea class="form-control" rows="6" id="body" th:field="*{workout.body}"></textarea>
            </label>
        </div>
<button type="submit" class="btn btn-dark text-center bg-dark btn-outline-danger">Submit Workout</button>

    <footer th:replace="fragments/footer :: main-footer"></footer>
</body>
</html>